<div style="text-align: center; color: cornflowerblue;">
  <h1>My demo app deployed on AZURE</h1>
</div>

<div style="display: inline-block; width: 20rem; height: 20rem; margin: 20px 30px; background-color: yellowgreen"></div>

<div style="display: inline-block; width: 20rem; height: 20rem; margin: 20px 30px; background-color: hotpink"></div>

<div style="display: inline-block; width: 20rem; height: 20rem; margin: 20px 30px; background-color: yellowgreen"></div>

<div style="display: inline-block; width: 20rem; height: 20rem; margin: 20px 30px; background-color: hotpink"></div>
